///
// Material Theme for Vanilla
// - Common CSS elements such as buttons
///
// Buttons
.Button {
  @extend .mui-btn;
  @extend .mui-btn--accent;

  &.Primary {
    @extend .mui-btn--primary;
  }

  &.Cancel {
    @extend .mui-btn--danger;
  }

  &.BigButton {
    width: 100%;
  }

  &.SignInPopup,
  &.ApplyButton {
    @extend .mui-btn--small;
    font-size: 11px;
    padding: 0 10px;
  }
}

// Forms
.SiteSearch,
.TextBoxWrapper,
form ul li {
  @extend .mui-textfield;
}



.FormWrapper {
  @extend .mui-panel;

  .Button {
    @extend .mui-btn--small;
  }

  .Buttons .Back {
    display: none;
  }
}

input.SmallInput:focus, input.InputBox:focus, textarea:focus {
  background: transparent !important;
}

// Messages
.DismissMessage {
  @extend .mui-panel;
  border: none !important;

  &.CasualMessage {
    background: $mui-btn-accent-bg-color;
    color: $mui-btn-accent-font-color;
  }

  &.InfoMessage {
    background: $mui-btn-primary-bg-color;
    color: $mui-btn-primary-font-color;
  }

  &.AlertMessage {
    background: mui-color('amber', 'A700');
    color: $van-color-black;
  }

  &.WarningMessage {
    background: $mui-btn-danger-bg-color;
    color: $mui-btn-danger-font-color;
  }
}

span.Warning,
div.Warning {
  @extend .mui-panel;

  background: $mui-btn-danger-bg-color;

  border: 0;
  color: $mui-btn-danger-font-color;
}

// Dropdown menus
.MenuItems {
  hr {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  a:hover {
    background-color: $mui-primary-color !important;
  }
}

// Titles
h1.H {
  border-bottom: solid $mui-divider-color 1px;
  padding-bottom: 5px;
}