* {
  margin: 0;
}
html, body {
  height: 100%;
}
main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
}
main:after {
  content: "";
  display: block;
}
footer, main:after {
  height: $footer-height;
}

footer {
  height: $footer-height;
  padding: 30px;
  background-color: $mui-appbar-bg-color;
}