///
// Material Theme for Vanilla
// - Footer specific CSS
///

// Cheeky sticky footer
* {
  margin: 0;
}

html, body {
  height: 100%;
}

main {
  margin-bottom: -$van-footer-height;
  /* equal to footer height */
  min-height: 100%;
}

main:after {
  content: '';
  display: block;
}

footer, main:after {
  height: $van-footer-height;
}

// Actual footer styling
footer {
  background-color: $mui-appbar-bg-color;
  height: $van-footer-height;
  padding: 30px;
}