///
// Material Theme for Vanilla
// - Icon override - overwrite's vanilla's poor res spritesheet w/ Mateial design icons
///

// Taken from https://github.com/google/material-design-icons/blob/master/iconfont/material-icons.css
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('fonts/MaterialIcons-Regular'),
  url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(fonts/MaterialIcons-Regular.woff) format('woff'),
  url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga'; /* Preferred icon size */
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;

  /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;
  /* Support for Safari and Chrome. */
  text-transform: none;

  /* Support for Firefox. */
  white-space: nowrap;

  /* Support for IE. */
  word-wrap: normal;
}

// Vanilla mapping css
.Sprite16 {
  background: none;
  @extend .material-icons;
  color: $van-color-black !important;
  display: block;
  font-size: 20px;
  height: 16px;
  position: relative;
  right: 3px;
  width: 16px;

  &.SpGlobe::before,
  &.SpNotifications::before {
    content: 'public';
  }

  &.SpEnvelope::before,
  &.SpInbox::before {
    content: 'email';
  }

  &.SpBookmarks::before {
    content: 'star';
  }

  &.SpDashboard::before,
  &.SpCog::before,
  &.SpOptions::before {
    content: 'apps';
  }

  &.SpEditProfile::before {
    content: 'create';
  }
}

.MeButton {
  padding: 1px 2px 4px 4px;
  &:hover {
    text-decoration: none;
  }

}

// Map others
.Bookmark,
.OptionsTitle {
  background: none;
  @extend .material-icons;
  font-size: 20px;
  position: relative;
  right: 1px;

}

.Bookmark::before {
  content: 'star border';
}

.OptionsTitle::before {
  content: 'apps';
}
