///
// Material Theme for Vanilla
// - CSS for page layouts
///

// Main body layout
#Panel {
  width: 25%;
}

@media (max-width: $mui-screen-lg-min) {
  #Panel {
    width: 95%;
    display: block;
    margin: auto auto auto 15px;

    #Body {

      .mui-container {
        padding: 100px 10px 20px 10px;
      }
    }
  }
}

#Body {

  .mui-container {
    padding: 100px;
  }
}

// Breadcrumbs
.Crumb,
.CrumbLabel a {
  @extend .mui--text-white;
}

// Data table
.DataTableWrap {
  @extend .mui-panel;

  table {
    @extend .mui-table;
    @extend .mui-table--bordered;
  }

  a {
    color: black !important;
  }
}

.CategoryName a {
  color: black;
}

// Mixed layout
div.Categories {
  @extend .mui-panel;

  a {
    color: black !important;
  }
}

// Datalist {
.DataList.CategoryList {
  @extend .mui-panel;

  a {
    color: black !important;
  }
}

// Sidenav
#sidenav {
  li {
    a {
      display: block;
      padding: 15px 22px;
      cursor: pointer;
      font-weight: bold;
      @extend .mui--text-black;

      &:hover {
        text-decoration: none !important;
      }
    }

    &:hover {
      background-color: #E0E0E0;

    }
  }
}

// Searchbox
#Search {
  div {
    @extend .mui-textfield;

    margin: 0;
    padding: 0;
  }

  .InputBox {
    width: auto;
    display: block;
    padding: 5px 10px;
    height: 50px;
    font-size: inherit;

    margin: 10px auto auto;

    background: transparent !important;
    border-color: transparent;

    color: white !important;
    @extend .mui--text-title;

    &::placeholder {
      color: white !important;
      @extend .mui--text-title;
    }

    &:focus {
      border-color: white !important;
      height: 50px;
    }
  }

  #Form_Go {
    display: none;
  }
}

