///
// Material Theme for Vanilla
// - User profile CSS
///

// Profile image override
.ProfilePhotoLarge {
  width: 100%;
}

// Remove underline on handle
.NavButton.Handle {
  text-decoration: none;
}

// Not really profile but Mebox
.FlyoutMenu {
  max-width: 250px;
}

// Material design-style avatars
.ProfilePhotoSmall {
  border-radius: 10px;
}

.ProfilePhotoMedium {
  border-radius: 20px;
}

.ProfilePhotoLarge {
  border-radius: 50%;
}

// Profile form background
body.Profile.EditMode #Content form {
  @extend .mui-panel;

  .RadioLabel {
    position: relative;
  }

  label[for="Form_Gender"] {
    position: relative;
  }

  .InputBox {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    margin-top: 10px;

    &:focus {
      border-bottom-color: $mui-primary-color;
      border-width: 2px;
    }
  }
}