/*!
// Material Theme for Vanilla
// - Built on mui.css
///


*/

// Import Materialize (MIT License)
@import "mui";

// Config
$van-footer-height: 100px;
$van-color-black: #000;
$van-color-white: #fff;

// Import hacks
@import "vanilla/iconsoverride";
@import "vanilla/sidedraw";
@import "vanilla/common";
@import "vanilla/layout";
@import "vanilla/footer";
@import "vanilla/profile";
@import "vanilla/search";

// Custom changes
@import "custom";